
body{
  margin:0;
  padding: 0;
}
.sidebar{
  position:absolute;
  left: 0;
  margin:0;
  background-color: teal;
  width:25%;
  height: 100%;
  text-align: center;
}
.title{
  color: rgb(170, 222, 247);
}
ul{
  list-style: none;
  padding:0;
  margin-top: 30%;
}
.quiz__item{
  padding: 5%;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  text-transform:capitalize;
  transition: 0.3s;
}
.quiz__item:hover, .quiz__item:active{
  background-color: rgb(170, 222, 247);
  color:teal;
  cursor: pointer;
}